body{
  font-family:Arial;
  background:#0b1d2a;
  color:white;
  text-align:center;
}

h1{
  color:#22c55e;
}

.grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  margin-top:40px;
}

a{
  padding:20px 30px;
  background:#123;
  border-radius:12px;
  text-decoration:none;
  color:white;
  font-size:18px;
}

a:hover{
  background:#14532d;
}

input{
  padding:10px;
  margin:10px;
  width:200px;
}

button{
  padding:10px 20px;
  background:#22c55e;
  border:none;
  color:white;
  font-size:16px;
}
header{
  padding:30px;
  background:#071a26;
}

header h1{
  margin:0;
  font-size:36px;
  color:#22c55e;
}

header p{
  color:#9ca3af;
}

.intro{
  margin-top:30px;
}

.grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:25px;
  margin-top:30px;
  padding:20px;
}

.card{
  width:220px;
  background:#0f2a38;
  padding:20px;
  border-radius:14px;
  text-decoration:none;
  color:white;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-6px);
  background:#134e4a;
}

.card h3{
  margin:0 0 10px 0;
  color:#22c55e;
}

.card p{
  font-size:14px;
  color:#cbd5e1;
}

footer{
  margin-top:50px;
  padding:20px;
  background:#071a26;
  font-size:14px;
  color:#94a3b8;
}

.adbox{
  margin:30px auto;
  width:90%;
  max-width:900px;
  height:90px;
  background:#0b2230;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#6b7280;
  border-radius:10px;
}
.calcbox{
  margin-top:30px;
}

.resultbox{
  margin-top:20px;
  background:#0f2a38;
  padding:20px;
  border-radius:12px;
  width:260px;
  margin-left:auto;
  margin-right:auto;
}

.resultbox h3{
  color:#22c55e;
}
.page{
  padding:20px;
}

.sub{
  color:#9ca3af;
}

.mainbox{
  margin-top:20px;
}

.mainbox input{
  padding:12px;
  width:220px;
}

.bigAge{
  margin-top:25px;
  font-size:28px;
  color:#22c55e;
  font-weight:bold;
}

.cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  margin-top:25px;
}

.stat{
  width:150px;
  background:#0f2a38;
  padding:18px;
  border-radius:12px;
}

.stat h4{
  margin:0;
  font-size:14px;
  color:#9ca3af;
}

.stat p{
  font-size:20px;
  margin:10px 0 0 0;
  color:white;
}